<div [formGroup]="formGroup" class="grid grid-cols-1 md:grid-cols-2 gap-2 md:gap-4 text-[16px] md:text-md text-gray-700">
    <!-- First Name -->
    <div class="relative">
        <label class="block text-white font-medium text-base mb-1">First Name*</label>
        <input
            class="w-full px-4 py-2 border border-gray-300 rounded-md placeholder-gray-400"
            placeholder="Enter first name"
            formControlName="first_name"
        />
        <p 
            *ngIf="getControl('first_name')?.invalid && getControl('first_name')?.touched" 
            class="absolute right-0 mt-1 text-xs text-white bg-red-600 px-2 py-1 rounded shadow z-10"
        >
            First name is required
        </p>
    </div>

    <!-- Last Name -->
    <div class="relative">
        <label class="block text-white font-medium text-base mb-1">Last Name*</label>
        <input
            class="w-full px-4 py-2 border border-gray-300 rounded-md placeholder-gray-400"
            placeholder="Enter last name"
            formControlName="last_name"
        />
        <p 
            *ngIf="getControl('last_name')?.invalid && getControl('last_name')?.touched" 
            class="absolute right-0 mt-1 text-xs text-white bg-red-600 px-2 py-1 rounded shadow z-10"
        >
            Last name is required
        </p>
    </div>

    <!-- Email -->
    <div class="md:col-span-2 relative">
        <label class="block text-white font-medium text-base mb-1">Email*</label>
        <input
            type="email"
            class="w-full px-4 py-2 border border-gray-300 rounded-md placeholder-gray-400"
            placeholder="you@example.com"
            formControlName="email"
        />
        <p 
            *ngIf="getControl('email')?.invalid && getControl('email')?.touched" 
            class="absolute right-0 mt-1 text-xs text-white bg-red-600 px-2 py-1 rounded shadow z-10"
        >
            Email is required
        </p>
    </div>

    <!-- Phone -->
    <div class="md:col-span-2 relative">
        <label class="block text-white font-medium text-base mb-1">Phone*</label>
        <input
            type="tel"
            class="w-full px-4 py-2 border border-gray-300 rounded-md placeholder-gray-400"
            placeholder="(123) 456-7890"
            formControlName="phone"
        />
        <p 
            *ngIf="getControl('phone')?.invalid && getControl('phone')?.touched" 
            class="absolute right-0 mt-1 text-xs text-white bg-red-600 px-2 py-1 rounded shadow z-10"
        >
            Phone number is required
        </p>
    </div>

    <!-- Address -->
    <div class="md:col-span-2 relative">
        <label class="block text-white font-medium text-base mb-1">Address*</label>
        <input
            class="w-full px-4 py-2 border border-gray-300 rounded-md placeholder-gray-400"
            placeholder="123 Main Street"
            formControlName="address"
        />
        <p 
            *ngIf="getControl('address')?.invalid && getControl('address')?.touched" 
            class="absolute right-0 mt-1 text-xs text-white bg-red-600 px-2 py-1 rounded shadow z-10"
        >
            Address is required.
        </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-2 md:gap-4 md:col-span-2">
        <!-- City -->
        <div class="relative">
            <label class="block text-white font-medium text-base mb-1">City*</label>
            <input
                class="w-full px-4 py-2 border border-gray-300 rounded-md placeholder-gray-400"
                placeholder="City"
                formControlName="city"
            />
            <p 
                *ngIf="getControl('city')?.invalid && getControl('city')?.touched" 
                class="absolute right-0 mt-1 text-xs text-white bg-red-600 px-2 py-1 rounded shadow z-10"
            >
                City is required
            </p>
        </div>

        <!-- State  -->
        <div class="relative">
            <label class="block text-white font-medium text-base mb-1">State*</label>
            <select
                class="w-full px-4 pt-[6px] border h-[37.6px] border-gray-300 rounded-md text-gray-700"
                formControlName="state"
            >
                <option disabled value="">Select state</option>
                <option *ngFor="let state of states" [value]="state">{{ state }}</option>
            </select>
            <p 
                *ngIf="getControl('state')?.invalid && getControl('state')?.touched" 
                class="absolute right-0 mt-1 text-xs text-white bg-red-600 px-2 py-1 rounded shadow z-10"
            >
                State is required
            </p>
        </div>

        <!-- Zipcode -->
        <div class="relative">
            <label class="block text-white font-medium text-base mb-1">Zipcode*</label>
            <input
                class="w-full px-4 py-2 border border-gray-300 rounded-md placeholder-gray-400"
                placeholder="Zip"
                formControlName="zipcode"
            />
            <p 
                *ngIf="getControl('zipcode')?.invalid && getControl('zipcode')?.touched" 
                class="absolute right-0 mt-1 text-xs text-white bg-red-600 px-2 py-1 rounded shadow z-10"
            >
                Zipcode is required
            </p>
        </div>
    </div>

    <!-- Preferred Contact -->
    <div class="md:col-span-2 relative">
        <label class="block text-white font-medium text-base mb-1">Preferred Contact Method</label>
        <select
            class="w-full px-4 py-2 border border-gray-300 rounded-md text-gray-700"
            formControlName="preferred_contact"
        >
            <option disabled value="">Select contact method</option>
            <option>Email</option>
            <option>Phone</option>
        </select>
        <p 
            *ngIf="getControl('preferred_contact')?.invalid && getControl('preferred_contact')?.touched" 
            class="absolute right-0 mt-1 text-xs text-white bg-red-600 px-2 py-1 rounded shadow z-10"
        >
            Please select a preferred contact method.
        </p>
    </div>
</div>
