<div class="min-h-screen bg-gradient-to-b from-[#f5e6dc] to-[#d49b79] px-6 py-10 font-serif">
    <!-- Table wrapper -->
    <section class="bg-[#d49b79] backdrop-blur-lg shadow-xl p-4 rounded-xl overflow-hidden">
        <div class="flex justify-between items-center">
            <h5 class="font-medium text-4xl text-white font-display">Clients Manager</h5>
            <div class="justify-end">
                <a routerLink="/admin/payment-log"
                    class="cursor-pointer inline-block bg-[#d49b79] border-2 font-lora hover:bg-[#ae7452] text-white px-5 py-2 rounded-md font-medium transition duration-300"
                >
                    View Change Logs
                </a>
            </div>
        </div>

        <div class="flex flex-col-reverse md:flex-row items-center justify-between md:space-x-4 py-3">
            <div class="w-full lg:w-2/3 flex flex-col space-y-3 md:space-y-0 md:flex-row md:items-center">
                <form class="w-full md:max-w-sm flex-1 md:mr-4 font-body">
                    <label for="default-search" class="text-sm font-medium text-gray-900 sr-only">Search</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <svg aria-hidden="true" class="w-6 h-6 text-gray-500" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                            </svg>
                        </div>
                        <input 
                            type="search" formControlName="searchTerm" name="search" id="default-search" 
                            class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary-500 focus:border-primary-500" 
                            placeholder="Search..."
                        >
                    </div>
                </form>
            </div>
        </div>
        
        <div class="rounded-xl overflow-hidden shadow-md bg-white">
            <table class="min-w-full font-lora text-left text-sm text-gray-700">
                <thead class="bg-[#d49b79] text-white text-sm uppercase tracking-wider">
                    <tr>
                    <th class="px-6 py-3">Name</th>
                    <th class="px-6 py-3">Email</th>
                    <th class="px-6 py-3">Phone</th>
                    <th class="px-6 py-3">Address</th>
                    <th class="px-6 py-3">City</th>
                    <th class="px-6 py-3">State</th>
                    <th class="px-6 py-3">Preferred Contact</th>
                    </tr>
                </thead>
                <tbody class="bg-[#fff9f5]">
                    <ng-container *ngFor="let client of clients">
                        <!-- Row -->
                        <tr class="hover:bg-[#f9f4f2] cursor-pointer" (click)="toggleExpand(client)">
                            <td class="px-6 py-4 font-medium">{{ client.first_name | titlecase }} {{ client.last_name | titlecase }}</td>
                            <td class="px-6 py-4">{{ client.email | titlecase }}</td>
                            <td class="px-6 py-4">{{ client.phone | titlecase }}</td>
                            <td class="px-6 py-4">{{ client.address | titlecase }}</td>
                            <td class="px-6 py-4">{{ client.city | titlecase }}</td>
                            <td class="px-6 py-4">{{ client.state | titlecase }}</td>
                            <td class="px-6 py-4">{{ client.preferred_contact | titlecase }}</td>
                        </tr>

                        <!-- Expandable Installments -->
                        <tr *ngIf="client.expanded">
                            <td colspan="7" class="bg-[#fff9f5] px-6 pb-4">
                                <div>
                                    <h4 class="text-lg font-semibold my-2 text-[#b66a53]">Client Events</h4>
                                    <ul class="space-y-2 text-sm">
                                        <!-- Header Row -->
                                        <li class="grid grid-cols-7 font-semibold text-[#b66a53] border-b border-dashed pb-1">
                                            <span class="text-left">Date</span>
                                            <span class="text-left">Event</span>
                                            <span class="text-left">Budget</span>
                                            <span class="text-left">Venue</span>
                                            <span class="text-left">City</span>
                                            <span class="text-left">State</span>
                                            <span class="text-left">Status</span>
                                        </li>

                                        <!-- Installment Rows -->
                                        <li *ngFor="let event of client.event"
                                            class="grid grid-cols-7 text-gray-700 border-b border-dashed pb-1">
                                            <span class="text-left">{{ event.date | date:'longDate' }}</span>
                                            <span class="text-left">{{ event.budget | currency:'USD' }}</span>
                                            <span class="text-left">{{ event.type | titlecase }}</span>
                                            <span class="text-left">{{ event.venue | titlecase }}</span>
                                            <span class="text-left">{{ event.city | titlecase }}</span>
                                            <span class="text-left">{{ event.state | titlecase }}</span>
                                            <span class="text-left">{{ event.status | titlecase }}</span>
                                        </li>
                                    </ul>
                                    <!-- <div class="flex justify-end mt-4">
                                        <a 
                                            routerLink="/admin/payment-log"
                                            (click)="openInstallmentsModal(invoice)"
                                            class="cursor-pointer mr-3 inline-block bg-[#d49b79] hover:bg-[#ae7452] text-white px-5 py-2 rounded-md font-medium transition duration-300"
                                        >
                                            Modify Installments
                                        </a>

                                        <a 
                                            routerLink="/admin/payment-log"
                                            (click)="openInvoiceModal(invoice)"
                                            class="cursor-pointer inline-block bg-[#d49b79] hover:bg-[#ae7452] text-white px-5 py-2 rounded-md font-medium transition duration-300"
                                        >
                                            Modify Invoice
                                        </a>
                                    </div> -->
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </section>
</div>
