<section 
    style="background-image: url('assets/images/landing/IMG_0695.jpg');" 
    class="bg-no-repeat bg-cover bg-center py-3 sm:py-8 min-h-[100vh]"
>
    <div class="absolute inset-0"></div>
    <div class="mx-auto max-w-screen-3xl px-6 lg:px-12">
        <div class="relative shadow-md rounded-lg overflow-hidden" style="background-color: rgba(195, 145, 110, 0.88); backdrop-filter: blur(5px); border: 3px solid rgb(255, 255, 255);">
            <div class="border-b mx-4">
                <div class="flex items-center justify-between space-x-4 pt-3">
                    <div class="flex-1 flex items-center space-x-3">
                        <h5 class="font-medium text-4xl text-white font-display">Events Manager</h5>
                    </div>
                </div>
                <div class="flex flex-col-reverse md:flex-row items-center justify-between md:space-x-4 py-3">
                    <div class="w-full lg:w-2/3 flex flex-col space-y-3 md:space-y-0 md:flex-row md:items-center">
                        <form [formGroup]="searchForm" class="w-full md:max-w-sm flex-1 md:mr-4 font-lora">
                            <label for="default-search" class="text-sm font-medium text-gray-900 sr-only">Search</label>
                            <div class="relative">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg aria-hidden="true" class="w-6 h-6 text-gray-500" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                                    </svg>
                                </div>
                                <input 
                                    type="search" formControlName="searchTerm" name="search" id="default-search" 
                                    class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary-500 focus:border-primary-500" 
                                    placeholder="Search..."
                                >
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="mx-4 pb-3 flex flex-wrap font-lora">
                <div class="hidden md:flex items-center text-sm font-semibold text-white mr-4 mt-3">Show only:</div>
                <div class="flex flex-wrap gap-2 mt-3">
                    <button
                        *ngFor="let status of ['New Inquiries', 'Active', 'Declined', 'Complete']"
                        (click)="onFilterChange(status)"
                        [ngClass]="{
                        'bg-white text-[#b66a53] font-semibold ring-2 ring-[#b66a53]': filterStatus === status,
                        'bg-[#b66a53] border-2 border-white text-white hover:bg-[#9a5845]': filterStatus !== status
                        }"
                        class="px-3 py-1 rounded-full text-sm transition-all duration-200"
                    >
                        {{ status }}
                    </button>
                </div>
            </div>
            <div class="overflow-x-auto font-lora text-white">
                <table class="w-full text-sm text-left">
                    <thead class="text-xs uppercase">
                        <tr>
                            <th scope="col" class="px-4 py-3"></th>
                            <th scope="col" class="px-4 py-3">Type</th>
                            <th scope="col" class="px-4 py-3">Client</th>
                            <th scope="col" class="px-4 py-3">Date</th>
                            <th scope="col" class="px-4 py-3">Venue</th>
                            <th scope="col" class="px-4 py-3">Status</th>
                            <th scope="col" class="px-4 py-3">Action</th>
                            <th scope="col" class="px-4 py-3">Modify</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  
                            *ngFor="let event of events"
                            class="border-b bg-[rgb(255,255,255)] text-black hover:bg-gray-200"
                        >
                            <td></td>
                            <td class="pl-4 px-4 py-3">
                                {{ event.type | titlecase }}
                            </td>
                            <td class="px-4 py-3">
                                {{ event.client.first_name }} {{ event.client.last_name }}
                            </td>
                            <td class="px-4 py-3">
                                {{ event.date | date: 'MMMM d, y' }}
                            </td>
                            <td class="px-4 py-3">
                                {{ event.venue }}
                            </td>
                            <td class="px-4 py-3">
                                {{ event.status | titlecase }}
                            </td>
                            <td class="px-4 py-3">
                                {{ getActionLabel(event.status) }}
                            </td>
                            <td class="px-4 py-3 flex flex-col lg:flex-row gap-2">
                                <button (click)="openEventModal(event)" class="px-3 py-2 text-xs text-white bg-blue-600 rounded hover:bg-blue-700">Details</button>
                                
                                <ng-container *ngIf="filterStatus === 'New Inquiries'">
                                    <button [disabled]="actionLoading" (click)="handleAccept(event)" class="px-3 py-2 text-xs text-white bg-green-600 rounded hover:bg-green-700">
                                        Accept
                                    </button>
                                    <button [disabled]="actionLoading" (click)="handleDecline(event)" class="px-3 py-2 text-xs text-white bg-red-600 rounded hover:bg-red-700">
                                        Decline
                                    </button>
                                </ng-container>

                                <ng-container *ngIf="filterStatus === 'Active'">
                                    <button (click)="openProposalModal(event)" class="px-3 py-2 text-xs text-white bg-green-600 rounded hover:bg-green-700">Proposal</button>
                                </ng-container>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <nav class="flex flex-col text-white font-lora md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4" aria-label="Table navigation">
                <span class="text-sm font-normal text-white">
                    Showing
                    <span class="font-semibold">
                      {{ (currentPage - 1) * pageSize + 1 }} - 
                        {{
                            (currentPage * pageSize) > totalRecords
                            ? totalRecords
                            : currentPage * pageSize
                        }}
                    </span>
                    of
                    <span class="font-semibold">{{ totalRecords }}</span>
                </span>
                <ul class="inline-flex text-black items-stretch -space-x-px">
                    <li>
                        <button (click)="prevPage()" [disabled]="currentPage === 1"
                            class="px-3 py-1.5 cursor-pointer text-sm border bg-white hover:bg-gray-100 rounded-l-lg">
                            Prev
                        </button>
                    </li>
                    <li>
                        <button (click)="nextPage()" [disabled]="currentPage * pageSize >= totalRecords"
                            class="px-3 py-1.5 text-sm cursor-pointer border bg-white hover:bg-gray-100 rounded-r-lg">
                            Next
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- View Event Modal -->
    <div 
        id="viewEventModal" 
        tabindex="-1" 
        class="hidden fixed inset-0 z-50 bg-black bg-opacity-50 overflow-y-auto transition-opacity duration-300 ease-in-out text-black font-lora"
    >
        <div class="modal-wrapper opacity-0 scale-95 transition-all duration-300 ease-out flex items-center justify-center min-h-screen">
            <div class="relative w-full m-3 md:m-0 md:max-w-[80%] p-3 md:p-6 bg-white rounded-lg shadow-lg border-4 border-[rgb(195,145,110)]">
                <!-- Modal Header -->
                <div class="flex justify-between items-start">
                    <div>
                        <h3 class="text-xl font-bold text-[rgb(195,145,110)]">
                            {{ selectedEvent?.client.first_name }} {{ selectedEvent?.client.last_name }}
                        </h3>
                    </div>
                    <button
                        type="button"
                        class="hover:text-gray-900"
                        (click)="closeEventModal()"
                    >
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414 5.707 15.707a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" />
                        </svg>
                    </button>
                </div>

                <!-- Modal Body -->
                <div class="mt-3 grid grid-cols-1 lg:grid-cols-4 gap-5 text-md text-gray-800 font-lora">
                    <!-- Left Column -->
                    <div class="space-y-4 lg:col-span-2">
                        <!-- Group: Client Details -->
                        <div class="bg-[#fdf6f2] border border-[#e6d3c4] rounded-lg p-4 shadow-sm">
                            <h4 class="text-lg font-semibold text-[#b66a53] mb-2">Client Details</h4>
                            <div class="grid grid-cols-2 md:grid-cols-2 gap-x-6 gap-y-2">
                                <p><strong class="text-[#b66a53]">First Name:</strong> {{ selectedEvent?.client.first_name }}</p>
                                <p><strong class="text-[#b66a53]">Last Name:</strong> {{ selectedEvent?.client.last_name }}</p>
                                <p><strong class="text-[#b66a53]">Email:</strong> {{ selectedEvent?.client.email }}</p>
                                <p><strong class="text-[#b66a53]">Phone:</strong> {{ selectedEvent?.client.phone }}</p>
                            </div>
                        </div>

                        <!-- Group: Event Details -->
                        <div class="bg-[#fdf6f2] border border-[#e6d3c4] rounded-lg p-4 shadow-sm">
                            <h4 class="text-lg font-semibold text-[#b66a53] mb-2">Event Information</h4>
                            <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-2">
                                <p><strong class="text-[#b66a53]">Status:</strong> {{ selectedEvent?.status | titlecase }}</p>
                                <p><strong class="text-[#b66a53]">Passcode:</strong> {{ selectedEvent?.passcode.passcode }}</p>
                                <p><strong class="text-[#b66a53]">Type:</strong> {{ selectedEvent?.type | titlecase }}</p>
                                <p><strong class="text-[#b66a53]">Date:</strong> {{ selectedEvent?.date | date: 'MMMM d, y' }}</p>
                                <p><strong class="text-[#b66a53]">Venue:</strong> {{ selectedEvent?.venue }}</p>
                                <p><strong class="text-[#b66a53]">Budget:</strong> {{ selectedEvent?.budget | currency:'USD' }}</p>
                                <p><strong class="text-[#b66a53]">City:</strong> {{ selectedEvent?.city }}</p>
                                <p><strong class="text-[#b66a53]">State:</strong> {{ selectedEvent?.state }}</p>
                            </div>
                        </div>

                        <!-- Group: Coordinator -->
                        <div class="bg-[#fdf6f2] border border-[#e6d3c4] rounded-lg p-4 shadow-sm">
                            <h4 class="text-lg font-semibold text-[#b66a53] mb-2">Coordinator</h4>
                            <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-2">
                                <p><strong class="text-[#b66a53]">First Name:</strong> {{ selectedEvent?.coordinator.first_name }}</p>
                                <p><strong class="text-[#b66a53]">Last Name:</strong> {{ selectedEvent?.coordinator.last_name }}</p>
                                <p><strong class="text-[#b66a53]">Email:</strong> {{ selectedEvent?.coordinator.email }}</p>
                                <p><strong class="text-[#b66a53]">Phone:</strong> {{ selectedEvent?.coordinator.phone }}</p>
                            </div>
                        </div>
                    </div>

                    <!-- Right Column -->
                    <div class="space-y-4 lg:col-span-2 lg:max-h-[545px] xl:max-h-[473px] overflow-y-auto pr-2">
                        <!-- Group: Notes & Pinterest -->
                        <div class="bg-[#fdf6f2] border border-[#e6d3c4] min-h-full rounded-lg p-4 shadow-sm">
                            <h4 class="text-lg font-semibold text-[#b66a53] mb-2">Notes</h4>
                            <p class="text-gray-700 whitespace-pre-line mb-4">{{ selectedEvent?.notes }}</p>

                            <!-- Pinterest URLs -->
                            <div *ngIf="selectedEvent?.urls?.length">
                                <div class="list-disc list-inside space-y-1 text-blue-700">
                                    <span *ngFor="let url of selectedEvent.urls">
                                        <span class="inline-block overflow-x-auto max-w-full whitespace-nowrap">
                                            <a 
                                                [href]="url.url" 
                                                target="_blank"
                                                rel="noopener"
                                                class="block max-w-full truncate hover:text-blue-900 hover:underline"
                                            >{{ url.url }}</a>
                                        </span>
                                    </span>
                                </div>
                            </div>

                            <!-- Uploaded Images -->
                            <div *ngIf="selectedEvent?.inspirationImages?.length" class="mt-4">
                                <h5 class="text-[#b66a53] font-medium mb-2">Uploaded Inspiration Images</h5>
                                <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4">
                                    <a
                                        *ngFor="let img of selectedEvent.inspirationImages"
                                        [href]="img"
                                        target="_blank"
                                        rel="noopener"
                                    >
                                    <img
                                        [src]="img"
                                        alt="Inspiration"
                                        class="w-full h-32 object-cover rounded-md border hover:ring-2 hover:ring-[#b66a53] transition duration-200"
                                    />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Footer -->
                <div class="flex justify-end gap-2 mt-3">
                    <button
                        [disabled]="actionLoading"
                        type="button"
                        class="px-5 py-2 text-sm text-white bg-blue-600 rounded hover:bg-blue-700 flex items-center"
                        (click)="openModifyEventModal(selectedEvent)"
                    >
                        <svg *ngIf="actionLoading" class="animate-spin h-4 w-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8H4z"></path>
                        </svg>
                        Modify Event
                    </button>
                    <ng-container *ngIf="filterStatus === 'Active'">
                        <button
                            [disabled]="actionLoading"
                            type="button"
                            class="px-5 py-2 text-sm text-white bg-green-600 rounded hover:bg-green-700 flex items-center"
                            (click)="openProposalModal(selectedEvent)"
                        >
                            <svg *ngIf="actionLoading" class="animate-spin h-4 w-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8H4z"></path>
                            </svg>    
                            Modify Proposal
                        </button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <!-- Modify Event Modal -->
    <div 
        id="modifyEventModal" 
        tabindex="-1" 
        class="hidden fixed inset-0 z-50 bg-black bg-opacity-50 overflow-y-auto transition-opacity duration-300 ease-in-out text-black font-lora"
    >
        <div class="modal-wrapper opacity-0 scale-95 transition-all duration-300 ease-out flex items-center justify-center min-h-screen">
            <div class="relative w-full max-w-2xl p-6 bg-white rounded-lg shadow-lg border-4 border-[rgb(195,145,110)]">
                <!-- Modal Header -->
                <div class="flex justify-between items-start">
                    <div>
                        <h3 class="text-xl font-bold text-[rgb(195,145,110)]">
                            {{ selectedEvent?.client.first_name }} {{ selectedEvent?.client.last_name }}
                        </h3>
                    </div>
                    <button
                        type="button"
                        class="hover:text-gray-900"
                        (click)="closeModifyEventModal()"
                    >
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414 5.707 15.707a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" />
                        </svg>
                    </button>
                </div>

                <!-- Modal Body -->
                <form [formGroup]="eventForm" class="mt-4 grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-3 text-md text-gray-700">
                    <div>
                        <label class="text-[rgb(195,145,110)] font-semibold">Type:</label>
                        <select formControlName="type" class="w-full rounded border px-3 py-1">
                            <option value="" disabled>-- Select Type --</option>
                            <option value="wedding">Wedding</option>
                            <option value="bridal shower">Bridal Shower</option>
                            <option value="anniversary">Anniversary</option>
                            <option value="engagement party">Engagement Party</option>
                            <option value="baby shower">Baby Shower</option>
                            <option value="funeral">Funeral</option>
                            <option value="holiday">Holiday</option>
                            <option value="corporate">Corporate</option>
                            <option value="birthday">Birthday</option>
                            <option value="quinceanera">Quinceanera</option>
                            <option value="prom/homecoming">Prom/Homecoming</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <div>
                        <label class="text-[rgb(195,145,110)] font-semibold">Date:</label>
                        <input type="date" formControlName="date" class="w-full rounded border px-3 py-1" />
                    </div>
                    <div>
                        <label class="text-[rgb(195,145,110)] font-semibold">Venue:</label>
                        <input type="text" formControlName="venue" class="w-full rounded border px-3 py-1" />
                    </div>
                    <div>
                        <label class="text-[rgb(195,145,110)] font-semibold">Budget:</label>
                        <input type="text" formControlName="budget" class="w-full rounded border px-3 py-1" />
                    </div>
                    <div class="md:col-span-2 space-x-3 flex justify-between">
                        <div>
                            <label class="text-[rgb(195,145,110)] font-semibold">City:</label>
                            <input type="text" formControlName="city" class="w-full rounded border px-3 py-1" />
                        </div>
                        <div>
                            <label class="text-[rgb(195,145,110)] font-semibold">State:</label>
                            <select formControlName="state" class="w-full rounded border px-3 py-1">
                                <option value="" disabled selected>-- Select State --</option>
                                <option *ngFor="let state of states" [value]="state.abbreviation">
                                    {{ state.name }}
                                </option>
                            </select>
                        </div>
                        <div>
                            <label class="text-[rgb(195,145,110)] font-semibold">Zipcode:</label>
                            <input type="text" formControlName="zipcode" class="w-full rounded border px-3 py-1" />
                        </div>
                    </div>
                    <div class="md:col-span-2">
                        <label class="text-[rgb(195,145,110)] font-semibold">Customer Notes:</label>
                        <textarea formControlName="notes" rows="3" class="w-full rounded border px-3 py-1"></textarea>
                    </div>
                    <div>
                        <label class="text-[rgb(195,145,110)] font-semibold">Status:</label>
                        <select formControlName="status" class="w-full rounded border px-3 py-1">
                            <option value="">-- Select Status --</option>
                            <option value="pending">Pending</option>
                            <option value="accepted">Accepted</option>
                            <option value="declined">Declined</option>
                            <option value="client review">Client Review</option>
                            <option value="proposal accepted">Proposal Accepted</option>
                            <option value="proposal declined">Proposal Declined</option>
                            <option value="complete">Complete</option>
                            <option value="cancelled">Cancelled</option>
                        </select>
                    </div>
                    <div>
                        <label class="text-[rgb(195,145,110)] font-semibold">Event Passcode:</label>
                        <input type="text" formControlName="passcode" class="w-full rounded border px-3 py-1" />
                    </div>
                </form>

                <!-- Modal Footer -->
                <div class="flex justify-end gap-2 mt-6">
                    <button
                        [disabled]="actionLoading"
                        type="button"
                        (click)="saveEventChanges()"
                        class="px-5 py-2 text-sm text-white bg-[rgb(195,145,110)] rounded hover:bg-white hover:text-[rgb(195,145,110)] hover:ring-2 hover:ring-[rgb(195,145,110)] focus:ring-4 focus:ring-[rgb(195,145,110)] flex items-center"
                        >
                        <svg *ngIf="actionLoading" class="animate-spin h-4 w-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8H4z"></path>
                        </svg>
                        Save Changes
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Proposal Modal -->
    <div 
        id="proposalModal" 
        tabindex="-1" 
        class="hidden fixed inset-0 z-50 bg-black bg-opacity-50 overflow-y-auto transition-opacity duration-300 ease-in-out text-black font-lora"
    >
        <div class="modal-wrapper opacity-0 scale-95 transition-all duration-300 ease-out flex items-center justify-center min-h-screen">
            <div class="relative w-full max-w-2xl p-6 bg-white rounded-lg shadow-lg border-4 border-[rgb(195,145,110)]">
                <!-- Modal Header -->
                <div class="flex justify-between items-start">
                    <div>
                        <h3 class="text-xl font-bold text-[rgb(195,145,110)]">
                            {{ selectedEvent?.client.first_name }} {{ selectedEvent?.client.last_name }}
                        </h3>
                    </div>
                    <button
                        type="button"
                        class="hover:text-gray-900"
                        (click)="closeProposalModal()"
                    >
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414 5.707 15.707a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" />
                        </svg>
                    </button>
                </div>

                <!-- Modal Body -->
                <form class="mt-4 grid grid-cols-1 gap-4 text-md text-gray-700">
                    <div>
                        <label class="text-[rgb(195,145,110)] font-semibold">Client Email:</label>
                        <input type="email" [value]="selectedEvent?.client.email" class="w-full rounded border border-gray-300 text-gray-500 px-3 py-1" disabled />
                    </div>

                    <!-- File upload input -->
                    <div *ngIf="!selectedEvent?.proposal?.pdf_url">
                        <label class="text-[rgb(195,145,110)] font-semibold">Upload Proposal (PDF):</label>
                        <input
                            #proposalFileInput
                            type="file"
                            accept="application/pdf"
                            (change)="onProposalFileSelected($event)"
                            class="w-full rounded border px-3 py-1 bg-white text-gray-600"
                            [ngClass]="{
                                'border-red-500': proposalFile === null && proposalUploadEnabled,
                                'opacity-50 cursor-not-allowed': selectedEvent?.proposal?.pdf_url && !proposalUploadEnabled
                            }"
                            [disabled]="selectedEvent?.proposal?.pdf_url && !proposalUploadEnabled"
                        />
                        <p class="mt-1 ml-3 text-sm text-gray-400" id="file_input_help">PDF file uploads only</p>
                    </div>

                    <!-- Existing PDF Display -->
                    <div *ngIf="selectedEvent?.proposal?.pdf_url" class="text-md">
                        <strong class="text-[rgb(195,145,110)]">Existing Proposal:</strong>
                        <a [href]="selectedEvent.proposal?.pdf_url" target="_blank" class="text-blue-600 underline ml-2">View PDF</a>
                    </div>
                </form>

                <!-- Modal Footer -->
                <div class="flex justify-end gap-2 mt-6">
                    <!-- Modify Proposal Button -->
                    <div *ngIf="selectedEvent?.proposal?.pdf_url && !proposalUploadEnabled">
                        <button
                            type="button"
                            (click)="enableProposalEdit()"
                            class="px-5 py-2 text-sm font-medium text-white bg-[rgb(195,145,110)] rounded hover:bg-white hover:text-[rgb(195,145,110)] hover:ring-2 hover:ring-[rgb(195,145,110)] flex items-center focus:ring-4 focus:ring-[rgb(195,145,110)]"
                        >
                            Modify Proposal
                        </button>
                    </div>
                    <div *ngIf="!selectedEvent?.proposal?.pdf_url || proposalUploadEnabled">
                        <button
                            type="button"
                            class="px-5 cursor-pointer py-2 text-sm font-medium text-white bg-[rgb(195,145,110)] rounded hover:bg-white hover:text-[rgb(195,145,110)] hover:ring-2 hover:ring-[rgb(195,145,110)] flex items-center focus:ring-4 focus:ring-[rgb(195,145,110)]"
                            [disabled]="!proposalUploadEnabled || !proposalFile || actionLoading"
                            (click)="uploadProposal()"
                        >
                            <svg *ngIf="actionLoading" class="animate-spin h-4 w-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8H4z"></path>
                            </svg>
                            Upload Proposal
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>