<section
    style="background-image: url('assets/images/landing/IMG_0706.JPG');" 
    class="flex bg-no-repeat font-body bg-cover bg-center bg-gray-500 bg-blend-multiply w-full flex min-h-[calc(100vh-76px)]"
>
    <div class="w-1/2 pl-20 min-h-[calc(100vh-76px)] flex flex-col items-center justify-center">
        <img src="assets/images/landing/Logo_inverted.png" class="max-h-[500px] mx-auto rounded-t-full">
        <h2 class="mt-4 text-6xl font-display font-extrabold text-white">Flowers Made Simple</h2>
    </div>
    <div class="w-1/2 pr-20 pt-10">
        <div class="px-4 w-4/5 text-center mb-5 pt-2 mx-auto">
            <h2 class="mb-1 text-6xl font-display font-extrabold text-white">Contact Us</h2>
        </div>
        <form id="contactBox" [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="grid grid-cols-1 max-w-[850px] mx-auto gap-x-6 gap-y-3 p-8 rounded-lg shadow-sm sm:grid-cols-2 backdrop-blur-md">
            <div>
                <label for="firstName" class="block mb-1 text-sm font-medium">First Name*</label>
                <input 
                    formControlName="firstName" type="text" id="firstName" 
                    [ngClass]="{'invalid': contactForm.get('firstName')?.invalid && contactForm.get('firstName')?.touched}"
                    class="block p-2 w-full text-xs bg-gray-50 rounded-lg border border-gray-300 text-gray-800 placeholder-gray-400 shadow-sm focus:ring-primary-500 focus:border-primary-500" 
                    placeholder="Bonnie">
            </div>
            <div>
                <label for="lastName" class="block mb-1 text-sm font-medium">Last Name*</label>
                <input 
                    formControlName="lastName" type="text" id="lastName" 
                    [ngClass]="{'invalid': contactForm.get('lastName')?.invalid && contactForm.get('lastName')?.touched}"
                    class="block p-2 w-full text-xs bg-gray-50 rounded-lg border border-gray-300 text-gray-800 placeholder-gray-400 shadow-sm focus:ring-primary-500 focus:border-primary-500" 
                    placeholder="Green">
            </div>
            <div>
                <label for="email" class="block mb-1 text-sm font-medium">Email*</label>
                <input 
                    formControlName="email" type="email" id="email" 
                    [ngClass]="{'invalid': contactForm.get('email')?.invalid && contactForm.get('email')?.touched}"
                    class="block p-2 w-full text-xs bg-gray-50 rounded-lg border border-gray-300 shadow-sm text-gray-800 placeholder-gray-400 focus:ring-primary-500 focus:border-primary-500" 
                    placeholder="name@gmail.com"
                >
            </div>
            <div>
                <label for="phone" class="block mb-1 text-sm font-medium">Phone*</label>
                <input 
                    formControlName="phone" type="text" id="phone" 
                    (input)="formatPhoneNumber($event)"
                    [ngClass]="{'invalid': contactForm.get('phone')?.invalid && contactForm.get('phone')?.touched}"
                    class="block p-2 w-full text-xs bg-gray-50 rounded-lg border border-gray-300 text-gray-800 placeholder-gray-400 shadow-sm focus:ring-primary-500 focus:border-primary-500" 
                    placeholder="+1 (XXX) XXX-XXXX"
                >
            </div>
            <div>
                <label for="eventDate" class="block mb-1 text-sm font-medium">Event Date*</label>
                <input 
                    formControlName="eventDate" type="date" id="eventDate" 
                    [ngClass]="{'invalid': contactForm.get('eventDate')?.invalid && contactForm.get('eventDate')?.touched}"
                    class="block p-2 w-full text-xs bg-gray-50 rounded-lg border border-gray-300 shadow-sm text-gray-800 placeholder-gray-400 focus:ring-primary-500 focus:border-primary-500" 
                >
            </div>
            <div>
                <label for="eventType" class="block mb-1 text-sm font-medium">Event Type*</label>
                <select
                    formControlName="eventType" type="dropdown" id="eventType" 
                    [ngClass]="{'invalid': contactForm.get('eventType')?.invalid && contactForm.get('eventType')?.touched}"
                    class="block p-2 w-full text-xs bg-gray-50 rounded-lg border border-gray-300 text-gray-800 shadow-sm focus:ring-primary-500 focus:border-primary-500"
                >
                    <option value="" disabled selected>Select an event type</option>
                    <option value="wedding">Wedding</option>
                    <option value="bridal shower">Bridal Shower</option>
                    <option value="anniversary">Anniversary</option>
                    <option value="engagement party">Engagement Party</option>
                    <option value="baby shower">Baby Shower</option>
                    <option value="funeral">Funeral</option>
                    <option value="holiday">Holiday</option>
                    <option value="corporate">Corporate</option>
                    <option value="birthday">Birthday</option>
                    <option value="quinceanera">Quinceanera</option>
                    <option value="prom/homecoming">Prom/Homecoming</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div>
                <label for="venue" class="block mb-1 text-sm font-medium">Venue</label>
                <input 
                    formControlName="venue" type="text" id="venue" 
                    class="block p-2 w-full text-xs bg-gray-50 rounded-lg border border-gray-300 shadow-sm text-gray-800 placeholder-gray-400 focus:ring-primary-500 focus:border-primary-500" 
                    placeholder="Harbor Lights"
                >
            </div>
            <div>
                <label for="budget" class="block mb-1 text-sm font-medium">Budget*</label>
                <input 
                    formControlName="budget" type="text" id="budget" 
                    (input)="formatBudget($event)"
                    [ngClass]="{'invalid': contactForm.get('budget')?.invalid && contactForm.get('budget')?.touched}"
                    class="block p-2 w-full text-xs bg-gray-50 rounded-lg border border-gray-300 shadow-sm text-gray-800 placeholder-gray-400 focus:ring-primary-500 focus:border-primary-500" 
                    placeholder="$1,999"
                >
            </div>
            <div>
                <label for="coordinator" class="block mb-1 text-sm font-medium">Day-of Coordinator</label>
                <input 
                    formControlName="coordinator" type="text" id="coordinator" 
                    class="block p-2 w-full text-xs bg-gray-50 rounded-lg border border-gray-300 shadow-sm text-gray-800 placeholder-gray-400 focus:ring-primary-500 focus:border-primary-500" 
                    placeholder="Susan Grimes"
                >
            </div>
            <div>
                <label for="coordinatorEmail" class="block mb-1 text-sm font-medium">Coordinator Email</label>
                <input 
                    formControlName="coordinatorEmail" type="Email" id="coordinatorEmail" 
                    class="block p-2 w-full text-xs bg-gray-50 rounded-lg border border-gray-300 shadow-sm text-gray-800 placeholder-gray-400 focus:ring-primary-500 focus:border-primary-500" 
                    placeholder="name@gmail.com"
                >
            </div>
            <div class="sm:col-span-2">
                <label for="pinterest-link" class="block mb-1 text-sm font-medium">Pinterest URL</label>
                <input 
                    formControlName="pinterest" type="text" id="pinterest" 
                    class="block p-2 w-full text-xs bg-gray-50 rounded-lg border border-gray-300 shadow-sm text-gray-800 placeholder-gray-400 focus:ring-primary-500 focus:border-primary-500" 
                    placeholder="http://pinterest.com/your-event-theme"
                >
            </div>
            <div class="sm:col-span-2">
                <label for="message" class="block mb-1 text-sm font-medium">What can I design for you?*</label>
                <textarea 
                    formControlName="message" id="message" rows="5"
                    [ngClass]="{'invalid': contactForm.get('message')?.invalid && contactForm.get('message')?.touched}"
                    class="block text-gray-800 placeholder-gray-400 p-2 w-full text-xs bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500" 
                    placeholder="Leave a comment..."
                ></textarea>
                <p class="mt-4 text-xs">By submitting this form you agree to our <a href="#" class="hover:underline font-bold">terms and conditions</a> and our <a href="#" class="hover:underline">privacy policy</a> which explains how we may collect, use and disclose your personal information including to third parties.</p>
            </div>
            <div class="sm:col-span-2 flex justify-end">
                <button type="submit" class="py-2 px-5 mt-2 text-sm font-bold text-center text-[rgb(195,145,110)] rounded-lg bg-white sm:w-fit hover:bg-[rgb(195,145,110)] hover:text-white hover:ring-2 hover:ring-white focus:ring-4 focus:ring-white transition duration-300">Send message</button>
            </div>
        </form>
    </div>
</section>